h1{
    @extend %h;
    font-size: 2rem;
}
h2{
    @extend %h;
    font-size: 1.5rem;
}
h3{
    @extend %h;
    font-size: 1rem;
}
#body-a{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "main" "footer";
}
#body-b{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "header" "main" "footer";
}
// media queries 768
@media only screen and (min-device-width:768px) {
    #body-b{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "nav nav"
        "header header"
        "main main" 
        "footer footer";
    }
}

// media querie desktop
@media only screen and (min-device-width:1024px) {
    #body-b{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "nav nav nav"
        "header header header"
        "main main main" 
        "footer footer footer";
    }
}