.main{
    background-color: $principalColor;
    grid-area: main;
    padding-bottom: 2%;
    section{
        width: 100%;
        article{
            width: 90%;
            margin: 0 auto;
                img{
                    width: 90%;
                    margin: auto;
                }
        }
        p{
            font-size: 1.0rem;
            width: 98%;
            margin: 1%;
        }
        form{
            width: 98%;
            margin: 1%;
            fieldset{
                width: 95%;
                margin: 1%;
                padding: 1%;
                legend{
                    font-size: 1.5rem;
                    .form__label{
                        width: 20%;
                        margin: 1%;
                        font-size: 1rem;
                    }
                    .form__input{
                        width: 95%;
                        margin: 1%;
                        padding: 1%;
                    }
                    .fieldset__div{
                        margin-bottom: 1%;
                    }
                }
            }
            .form__button{
                    background-color: $buttonColor;
                    color: $principalColor;
                    border-radius: 10%;
                    padding: 1.5%;
                    margin: 2% 0% 2% 2%;
                
            }
        }
    }
}

// media queries desktop
@media only screen and (min-device-width:1024px) {
    .main{
        section{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            article{
                width: 45%;
                margin: 2%;
            }
            #art-3{
                order: 3;
            }
            .form__div{
                display: flex;
                justify-content: end;
            }
            .button__resp{
                @extend %.form__button;
                padding: 0.8%;
                margin: 2% 1.9% 0% 2%;
            }
        }
    }
}
