.nav{
    list-style: none;
    background-color: $secondaryColor;
    grid-area: nav;
    width: 100%;
    div{
        text-align: center;
        img{
            width: 20%;
            margin: 1%;
        }
    }
    ul{
        li{
            width: 80%;
            a{
                text-decoration: none;
                color: $principalColor;
                font-size: 1.5rem;
                margin: 1%;
            }
        }
    }
}

// media queries 768
@media only screen and (min-device-width:768px) {
    .nav{
        div{
            width: 100%;
            img{
                width: 16%;
            }
        }
        ul{
            display: flex;
            width: 100%;
            justify-content: space-between;
            list-style: none;
            align-items: center;
            text-align: center;
        }
    }
}
// media queries desktop
@media only screen and (min-device-width:1024px) {
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            width: 10%;
            padding: 1%;
            img{
                width: 40%;
            }
        }
        ul{
            list-style: none;
            display: flex;
            width: 85%;
            justify-content: space-between;
            align-items: center;
            li{
                a{
                    &:hover{
                        border-radius: 2.5%;
                        background-color:$hoverColor;
                        padding: 5%;
                    }
                }
            }
        }            
    }
}